<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div id="compare" [style.display]="showCompareModal ? 'block' : 'none'">
    <table>
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td *ngFor="let car of selectedCarsForComparison; let i = index">
            <img [src]="car.image" width="100" alt="{{ car.nome }}">
          </td>
          </tr>
        <tr>
          <td>Modelo</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.nome }}</td>
          </tr>
        <tr>
          <td>VIN</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.vin }}</td>
          </tr>
        <tr>
          <td>ID</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.id }}</td>
          </tr>
        <tr>
          <td>Odômetro</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.odometro | number }} Km</td>
          </tr>
        <tr>
          <td>Nível Combustível</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.nivelCombustivel }}%</td>
          </tr>
        <tr>
          <td>Status</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.status === 'on' ? 'Ligado' : 'Desligado' }}</td>
          </tr>
        <tr>
          <td>Latitude</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.lat }}</td>
          </tr>
        <tr>
          <td>Longitude</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.long }}</td>
          </tr>
        <tr>
          <td>Altura da caçamba (mm)</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.alturaCacamba === 0 ? 'N/A' : car.alturaCacamba }}</td>
          </tr>
        <tr>
          <td>Altura do veículo (mm)</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.alturaVeiculo }}</td>
          </tr>
        <tr>
          <td>Altura livre do solo (mm)</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.alturaSolo }}</td>
          </tr>
        <tr>
          <td>Capacidade de carga (Kg)</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.capacidadeCarga }}</td>
          </tr>
        <tr>
          <td>Motor</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.motor }}</td>
          </tr>
        <tr>
          <td>Potência (cv)</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.potencia }}</td>
          </tr>
        <tr>
          <td>Volume de caçamba (L)</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.volumeCacamba }}</td>
          </tr>
        <tr>
          <td>Roda</td>
          <td *ngFor="let car of selectedCarsForComparison">{{ car.roda }}</td>
          </tr>
        <tr>
          <td>Preço</td>
          <td *ngFor="let car of selectedCarsForComparison">R$ {{ car.preco | number:'1.2-2' }}</td>
          </tr>
      </tbody>
    </table>
    <div style="text-align: center;padding-bottom: 20px;">
      <button type="button" style="height: 40px; width: 200px;" (click)="hideCompare()">Fechar</button>
    </div>
  </div>

  <div class="card p-5 shadow-sm text-center"
       [class.blurred-background]="showCompareModal"
       style="max-width: 90%; width: 100%;">
    <h2 class="text-primary mb-4">Página de Comparação de Veículos</h2>
    <br>
    <br>

    <div *ngIf="message" class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" (click)="message = null" aria-label="Close"></button>
    </div>

    <main>
      <div>
        <ul class="modelcars">
          <li *ngFor="let car of cars">
            <img [src]="car.image" class="photocar" alt="{{ car.nome }}">
            <div class="infocar">
              <div>
                <input type="checkbox" class="checkbox" (change)="setCarToCompare($event, car)"
                       [checked]="isCarSelected(car)">
              </div>
              <div class="info">
                <span class="textmodel">{{ car.nome }}</span>
                <span class="textprice">Preço Sugerido: R$ {{ car.preco | number:'1.2-2' }}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div style="text-align: center;padding-bottom: 20px;">
        <button type="button" style="height: 40px; width: 200px;" (click)="showCompare()">Comparar Carros</button>
      </div>
    </main>

    <footer>
      <div>
        <img src="/img/ford.png" width="70" alt="Logo Ford" />
      </div>
    </footer>

    <div class="d-grid gap-2 mt-4 botoes-navegacao">
      <button type="button" class="btn btn-primary" (click)="goToDashboard()">Voltar para o Dashboard</button>
      <button type="button" class="btn btn-outline-secondary" (click)="goToTestDrive()">Ir para Test Drive</button>
    </div>
  </div>
</div>