
.card {
  border-radius: 10px;
}

body {
  font-family: sans-serif;
  margin: 20px;
}

.modelcars {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.modelcars li {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  width: 280px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.photocar {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.infocar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.info {
  text-align: left;
  flex-grow: 1;
  margin-left: 10px;
}

.textmodel {
  font-weight: bold;
  display: block;
}

.textprice {
  color: green;
  display: block;
  margin-top: 5px;
}

/* Modal de Comparação */
#compare {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 900px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: hidden;
  z-index: 1001;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#compare table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed;
  word-wrap: break-word;
}

#compare th,
#compare td {
  border: 1px solid #555;
  padding: 5px;
  vertical-align: top;
  font-size: 0.8em;
}

#compare td:first-child {
  font-weight: bold;
}

#compare img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

#social ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

#social li {
  margin-right: 15px;
}

.redesociais {
  font-weight: bold;
  margin-right: 10px;
}

#social img {
  width: 30px;
  height: 30px;
}

/* Estilo para fundo desfocado */
.blurred-background {
  filter: blur(5px);
  transition: filter 0.3s ease;
}


@media (max-width: 768px) {
  #compare {
    overflow-y: auto;
    max-height: 90vh;
  }

  #compare table {
    font-size: 0.7em;
  }

  #compare img {
    max-width: 60px;
  }
}


.botoes-navegacao {
  max-width: 300px;
  margin: 20px auto 0 auto;
}


.botoes-navegacao .btn {
  width: 100%;
}