<div class="papai">
  <div class="img-ford">
    <img src="/img/ranger.png" alt="Imagem da Ford Ranger" />
  </div>
  <div class="container-form">
    <div class="form">
      <div class="form-img">
        <img src="/img/ford.png" alt="Logo da Ford" class="logo" />
      </div>
      <div class="forms">
        <form>
          <h2>Boas-vindas</h2>
          <input type="email" placeholder="Insira seu e-mail" required />
          <input type="password" placeholder="Insira sua senha" required />

          <div class="checkbox">
            <input type="checkbox" id="autoLogin" />
            <label for="autoLogin">Logar automaticamente</label>
          </div>

          <button type="submit">Entrar</button>
        </form>
      </div>
      <div class="copy">
        <p>&copy; 2025</p>
      </div>
    </div>
  </div>

  <div class="terceira"></div>
</div>
