<div class="main-page-layout">
  <app-sidebar></app-sidebar>
  <div class="dashboard-main-content">
    <h1 class="dashboard-title">Dashboard FORD</h1>

    <div class="cards-grid">
      <div class="card card-vehicle">
        <div class="card-title">Veículo</div>
        <div class="card-content">
          <select class="vehicle-select">
            <option value="ranger">Ranger</option>
            <option value="mustang" selected>Mustang</option>
            <option value="territory">Territory</option>
            <option value="bronco_sport">Bronco Sport</option>
          </select>
        </div>
      </div>

      <div class="card">
        <div class="card-title">Total de Vendas</div>
        <div class="card-content"><span class="unit">Unid</span></div>
      </div>

      <div class="card">
        <div class="card-title">Conectados</div>
        <div class="card-content"><span class="unit">Unid</span></div>
      </div>

      <div class="card">
        <div class="card-title">Update Software</div>
        <div class="card-content"><span class="unit">Unid</span></div>
      </div>
    </div>

    <div class="car-image-container">
      <img src="" alt="Ford" class="imagem do carro">
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Código - Vin</th>
            <th>Odômetro</th>
            <th>Nível de Combustível</th>
            <th>Status</th>
            <th>Lat</th>
            <th>Long</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>