<div class="d-flex min-vh-100">
  <nav class="sidebar bg-light p-3 shadow-sm d-none flex-column align-items-center">
    <img src="/img/ford.png" class="img-fluid mb-4" alt="Logo Ford" style="max-width: 80%;" />
    <ul class="navbar-nav flex-column w-100 mt-3">
      <li class="nav-item mb-2 text-center">
        <a (click)="toHome()" class="nav-link" aria-current="page">Home</a>
      </li>
      <li class="nav-item mb-2 text-center">
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
      </li>
    </ul>
  </nav>

  <button class="fab-menu-button" type="button" 
          data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" 
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header bg-light d-flex flex-column align-items-center">
      <img src="/img/ford.png" class="img-fluid mb-3" alt="Logo Ford" style="max-width: 70%;" />
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
      <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav flex-column w-100">
        <li class="nav-item mb-2 text-center">
          <a (click)="toHome()" class="nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item mb-2 text-center">
          <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="content flex-grow-1 position-relative overflow-hidden">
    <img src="/img/ranger.png" class="img-fluid position-absolute top-50 start-50 translate-middle" 
         alt="Ford Ranger" style="z-index: 0; max-width: 90%; height: auto; opacity: 0.7;" />
    
    <div class="card p-4 text-center shadow-lg position-absolute top-50 start-50 translate-middle" 
         style="max-width: 400px; background-color: rgba(255, 255, 255, 0.95); z-index: 1;">
      <h2 class="card-title fs-4 mb-2">Sistema de dados FORD</h2>
      <p class="card-text fs-6 mb-4">Seja bem-vindo!</p>
      <a class="text-primary fw-bold" href="#">Sair</a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>